.container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.form {
  background-color: #c6d93e;
  padding: 30px;
  border-radius: 8px;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inputGroup {
  margin-bottom: 15px;
}

.input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #dbe7a1;
}

.checkboxGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.button {
  padding: 8px 16px;
  background-color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}
