.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  background: #C1D72F;
  color: white;
  cursor: pointer;
  transition: background 0.2s;
}

.pagination button:disabled {
  background: #b2be64;
  cursor: not-allowed;
}

.pagination span {
  font-size: 14px;
}

